.next-button {
  width: 353px;
  height: 70px;

  border: none;
  border-radius: 70px; 

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding-top: 24px;
  padding-right: 133px;
  padding-bottom: 24px;
  padding-left: 133px;

  font-size: var(--font-button-main-18-size);
  font-weight: var(--font-button-main-18-weight);
  line-height: var(--font-button-main-18-line);

  transition: background-color 0.2s ease;
}

/* 비활성화 (#DDDDDD) */
.next-button--disabled {
  background-color: #dddddd;
  color: var(--color-gray-500);
  cursor: default;
}

/* 활성화 (#FF5315) */
.next-button--enabled {
  background-color: #ff5315;
  color: #ffffff;
  cursor: pointer;
}

.next-button--enabled:active {
  background-color: var(--action-primary-active);
}
