.topbar {
  position: relative;
  width: 360px;
  height: 56px;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: var(--bg-default);
}


.topbar-progress-wrapper {
  position: absolute;
  left: 50%;
  top: 28px; 
  transform: translateX(-50%);
}

.topbar-progress-track {
  width: 200px; 
  height: 2px;
  background-color: var(--color-gray-100);
  border-radius: 999px;
  overflow: hidden;
}

.topbar-progress-bar {
  height: 100%;
  background-color: var(--text-primary);
  border-radius: 999px;
  transition: width 0.2s ease;
}
