
.topbar {
  width: 100%;                 
  display: flex;
  justify-content: center;    
  align-items: center;
}


.topbar-track {
  width: 220px;
  height: 4px;
  border-radius: 55px;
  background-color: #d9d9d9;
  overflow: hidden;
}


.topbar-fill {
  height: 100%;
  border-radius: 55px;
  background-color: #2f2f2f;
  transition: width 0.25s ease;
}
