html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: var(--bg-default); 
  color: var(--text-primary);
}

/* 화면 전체를 flex로 중앙 정렬 */
#root {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
}
